 <div class="main container-fluid">
    <h1>About Us</h1>

    <h2>What is Connect?</h2>
    <p>Connect is a platform through which volunteers and temporary job – seekers can look for opportunities to help their community. Through its simplistic interface, Connect puts those looking for help in touch with those who have the capabilities of providing that help. Our mission here at Connect is to empower and improve our community through the combined efforts of those who live in it.</p>

    <h2>Who are we?</h2>
    <p>We are a group of college students. Dakota Miller, David Yuan, Julia Ragsdale, and Karl Parry. This project was created for Info 200.</p>
</div>