 <div class="main container-fluid">
    <h1>About Us</h1>

    <h2>What is Connect?</h2>
    <p>Connect is a platform through which volunteers and temporary job – seekers can look for opportunities to help their community. Through its simplistic interface, Connect puts those looking for help in touch with those who have the capabilities of providing that help. Our mission here at Connect is to empower and improve our community through the combined efforts of those who live in it.</p>

    <h2>Who are we?</h2>
    <img id="group-photo" src="img/group-photo.jpg" alt="group photo">
    <p>We are a group of college students. Dakota Miller, David Yuan, Julia Ragsdale, and Karl Parry. This project was created for Info 200.</p>

    <h2>Why should I use Connect?</h2>
	<p>Connect is a website whose sole goal is to improve local communities. By working for and helping the neighbors in your community, we hope to create stronger bonds within these groups. Through these interactions within client localities we aim to make Connect a place for clients to meet neighbors under a friendly environment.</p>

	<h2>How is Connect different?</h2>
	<p>At Connect, one of our paramount values is client satisfaction. This means that we give client safety, completion of client jobs within a timely fashion, and ease of navigation of our website higher priorities than anything else. At our website, we allow anyone to post for help, whether this help is intended as a volunteering opportunity or as a paid job. In addition, people who have completed jobs are heavily encouraged to rate their contact in order to help give users more accurate representation of that contact. For the safety of our users, contacts with consistently bad ratings will no longer be allowed to make job postings or apply for opportunities through Connect.</p>

    <h2>Disclaimer</h2>
    <p>Connect users take full responsibility for their safety, reimbursement, and any other applicable event that could occur with the use of our services. Be sure to watch out for scams and use discretion when sharing your personal information online. <p>
</div>