<div id="help-section" class="main container-fluid">
	<h1>Welcome to Connect! Confused? Start here!</h1>

	<h2>How do I use Connect?</h2>

	<h3>Your first time using Connect</h3>
	<p>If this is your first time on our website, please create an account using the “Sign Up” button on the top right of the screen. Signing up is easy, and will only take a moment. Having an account will let you sign up for events you like, and create events for other people to sign up for! After signing up, you can also fill out your profile to show people what skills you have.</p>
		

	<h3>If You're Looking to Hire:</h3>
		<ol> 
			<li>To create a listing, simply select “Find Workers” from the home page or menu bar.</li>
			<li>Fill out a title for your listing, and choose between paid and volunteer work using the buttons to the right of the title box.</li>
			<li>Finish filling in the rest of the listing details, write a description for your event, and click the "Submit" button.</li>
			<li>Wait for potential workers to contact you!</li>
		</ol>


	<h3>If You're Looking for Opportunities:</h3>
		<ol>
			<li>Select “Find Opportunities” from the home page or menu bar</li>
			<li>Select whether or not you are looking for volunteer work or paid work using the buttons above the search bar.</li>
			<li>Filter the job list through date, distance, group size, pay and category, or by searching for keywords.</li>
			<li>Click on a job's title to see more details</li>
			<li>Click on the "Save Job" button to save the listing to your list of jobs.</li>
			<li>Get in contact with the poster using their email or phone number!</li>
		</ol>
	<button ui-sref="home" class="btn btn-default btn-lg">Back to homepage</button>
</div>

