<div id="help-section" class="main container-fluid">
	<h1>Help:</h1>

	<h2>How do I use Connect?</h2>
	<ul>
		<li>Create an account with us using an email address and password.</li>

		<li>You will be introduced to your user profile, which contains all the events that you have previously shown interest in.</li>

		<li><strong>If You're Looking to Hire:</strong></li>
			<ol> 
				<li>To create a listing, simply select “Find Workers” from the home page or menu bar.</li>
				<li>Fill out a title for your listing, and choose between a volunteer or paid job.</li>
				<li>Finish filling in the rest of the listing details and click the "Submit" button</li>
				<li>Wait for potential workers to contact you</li>
			</ol>


		<li><strong>If You're Looking for Opportunities:</strong></li>
			<ol>
				<li>Select “Find Opportunities” from the home page or menu bar</li>
				<li>Select whether or not you are looking for volunteer work or paid work.</li>
				<li>Filter the job list through tags, categories, dates, and descriptions.</li>
				<li>Click on a job's title to see more details</li>
				<li>Click on the "Save Job" button to save the listing</li>
				<li>Get in contact with the poster using their email or phone number</li>
			</ol>
	</ul>
</div>

