<div id="welcome-background">
    <div id="welcome" class="container">
        <h1>Welcome to Connect!</h1>
        <div class="row">
            <h2>Start Here:</h2>
            <div class="col-sm-6">
                <a ui-sref="jobs"><button id="work-button" class="btn btn-default">Find Opportunities</button></a>
                <!--<div id="work-options" style="display:none">
                    <a ui-sref="jobs"><button class="btn btn-default">Volunteer</button></a>
                    <a ui-sref="jobs"><button class="btn btn-default">Work</button></a>
                </div>-->
            </div>
            <div class="col-sm-6">
                <a ui-sref="form"><button id="hire-button" class="btn btn-default">Find Workers</button></a>
                <!--<div id="hire-options" style="display:none">
                    <button class="btn btn-default">Volunteers</button>
                    <button class="btn btn-default">Employees</button>
                </div> -->
            </div>
        </div>
    </div>
</div>