<!-- 
    Name: Dakota Miller
    Class: INFO 200
    Description: Home Page for "Connect" project
-->

<div id="welcome-background">
    <div id="welcome" class="container">
        <img id="logo" src="img/logo.png" alt="logo">
        <h1>Welcome to Connect!</h1>
        <div class="row">
            <h2>Start Here:</h2>
            <div class="col-sm-6">
                <a ui-sref="jobs"><button id="work-button" class="btn btn-default">Find Opportunities</button></a>
            </div>
            <div class="col-sm-6">
                <a ui-sref="form"><button id="hire-button" class="btn btn-default">Find Workers</button></a>
            </div>
        </div>
    </div>
    <div id="help">
        <button ui-sref="help" id="work-button" class="btn btn-default">Need Help? Click Here!</button>
    </div>
</div>