<div id="jobs-section" class="main container-fluid">
    <h1 style="display:inline-block">Select a job</h1>
    <div id="work-controls" class="form-inline pull-right">
            <label for="search"><i class="fa fa-search"></i></label>
            <input name="query" id="search" ng-model="searchQuery" placeholder="Search by name, zip code, or any field">

    </div>

    <div class="row">
        <div id="filters" class="col-md-2">
            <form>
                <div class="form-group">
                    <h3>Type</h3>
                    <label><input type="radio" name="choice" value="volunteer" ng-click="mode='volunteer'" checked>Volunteer</label><br>
                    <label><input type="radio" name="choice" value="paid" ng-click="mode='paid'">Paid</label>
                </div>
                <div class="form-group">
                    <h3>Category</h3>
                    <label><input type="radio" name="category" ng-click="searchQuery=''" checked>All</label><br>
                    <label><input type="radio" name="category" ng-click="searchQuery='physical labor'">Physical Labor</label><br>
                    <label><input type="radio" name="category" ng-click="searchQuery='technology help'">Technology Help</label><br>
                    <label><input type="radio" name="category" ng-click="searchQuery='child care'">Child Care</label><br>
                    <label><input type="radio" name="category" ng-click="searchQuery='pet care'">Pet Care</label><br>
                    <label><input type="radio" name="category" ng-click="searchQuery='food handling'">Food Handling</label><br>
                    <label><input type="radio" name="category" value="tutor" ng-click="searchQuery='tutoring'">Tutoring</label>
                </div>
                 <div class="form-group">
                    <h3>Workers Required</h3>
                    <label><input type="radio" name="count" value="any" checked>Any</label><br>
                    <label><input type="radio" name="count" value="one">1</label><br>
                    <label><input type="radio" name="count" value="several">2-4</label><br>
                    <label><input type="radio" name="count" value="many">4+</label>
                </div>
                 <div ng-if="mode=='paid'" class="form-group">
                    <h3>Payrate</h3>
                    <label><input type="radio" name="payrate" value="any" checked>Any</label><br>
                    <label><input type="radio" name="payrate" value="low"><$10</label><br>
                    <label><input type="radio" name="payrate" value="lowmid">$10-$50</label><br>
                    <label><input type="radio" name="category" value="highmid">$50-$100</label><br>
                    <label><input type="radio" name="payrate" value="high">$100+</label>
                </div>                              
            </form>
        </div>
        <div class="col-md-10">
            <table id="jobs" class="table table-hover">
                <tr>
                    <th><span class="sort" ng-click="setSortingCriteria('title')">Job Title <i class="fa fa-sort-desc"></i></span></th>
                    <th><span class="sort" ng-click="setSortingCriteria('location')">Zip Code <i class="fa fa-sort-desc"></i></span></th>
                    <th><span class="sort" ng-click="setSortingCriteria('date')">Date of Job <i class="fa fa-sort-desc"></i></span></th>
                    <th><span class="sort" ng-click="setSortingCriteria('count')">Required Workers <i class="fa fa-sort-desc"></i></span></th>
                    <th>Category</th>
                    <th ng-if="mode=='paid'"><span class="sort" ng-click="setSortingCriteria('payment')">Payment <i class="fa fa-sort-desc"></i></span></th>
                </tr>
                <tr ui-sref="details({id: job.id})" ng-if="mode=='paid'" ng-repeat="job in paid | orderBy:sortingCriteria | filter:searchQuery">
                    <td><a ui-sref="details({id: job.id})">{{job.title}}</a></td>
                    <td>{{job.location}}</td>
                    <td>{{job.date | date:'shortDate'}}</td>
                    <td>{{job.count}}</td>
                    <td>{{job.categories[0]}}</td>
                    <td>{{job.payment}}</td>
                </tr>
                <tr ui-sref="details({id: job.id})" ng-if="mode=='volunteer'" ng-repeat="job in volunteer | orderBy:sortingCriteria | filter:searchQuery">
                    <td><a ui-sref="details({id: job.id})">{{job.title}}</a></td>
                    <td>{{job.location}}</td>
                    <td>{{job.date | date:'shortDate'}}</td>
                    <td>{{job.count}}</td>
                    <td>{{job.categories[0]}}</td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>