<!-- 
    Name: Dakota Miller
    Class: INFO 200
    Description: User Profile Page for "Connect" project
-->

<div id="profile-section" class="main container-fluid">
	<h1>Profile</h1>
	<div ng-if="user.id" class="row">
		<h2>Details</h2>
		<div class="col-md-6">
			<dl>
				<dt>Name:</dt>
				<dd>{{user.name}}</dd>
				<dt>Email:</dt>
				<dd>{{user.email}}</dd>
				<dt>Phone:</dt>
				<dd>{{user.phone}}</dd>
				<dt>Zip Code:</dt>
				<dd>{{user.location}}</dd>
				<dt>Age:</dt>
				<dd>{{user.age}}</dd>
			</dl>
		</div>
		<div class="col-mid-6">
			<dl>
				<dt>Skills:</dt>
				<dd>
					<ul>
						<li ng-repeat="skill in user.skills">{{skill}}</li>
					</ul>
				</dd>
				<dt>Average Review Rating</dt>
				<dd>{{user.average}}</dd>
			</dl>
		</div>
	</div>
	<div ng-if="user.id && user.reviews.length != 0" class="row">
		<h2>Reviews</h2>
		<div ng-repeat="review in user.reviews">
			<p class="score">{{review.score}} out of 5</p>
			<p><em>By {{review.author}} on {{review.date}}</em></p>
			<p class="content">{{review.content}}</p>
		</div>
	</div>
	<p ng-if="!user.id">This user has not set up their profile</p>
	<p ng-if="user.id && user.reviews.length == 0">No one has reviewed this user</p>
</div>