<div id="modal-main" class="text-center">	
	<h1>Signup</h1>
	<form>
		<div class="form-group">
	        <label for="email">Email:</label>
	        <input type="text" name="email" ng-model="signupEmail">
	    </div>
		<div class="form-group">
	        <label for="email">Name:</label>
	        <input type="text" name="name" ng-model="signupName">
	    </div>
		<div class="form-group">
	        <label for="pass">Password:</label>
	        <input type="text" name="pass" ng-model="signupPass">
	    </div>
	    <button class="btn btn-default" ng-click="signup()">Signup</button>
	    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</form>
</div>