<div id="modal-main" class="text-center">	
	<h1>Signup</h1>
	<form ng-show="!finished" name="signupForm">
		<div class="form-group">
	        <label for="email">Full Name:</label>
	        <input type="text" name="name" required>
	    </div>
		<div class="form-group">
	        <label for="email">Email:</label>
	        <input type="email" name="email" ng-model="signupEmail" required>
	    </div>
	   	<div class="form-group">
	        <label for="phone">Phone Number:</label>
	        <input type="tel" name="phone">
	    </div>
	    <div class="form-group">
	        <label for="pass">Password:</label>
	        <input type="password" name="pass" required>
	    </div>
		<div class="form-group">
	        <label for="pass-confirm">Confirm Password:</label>
	        <input type="password" name="pass-confirm" required>
	    </div>
	    <button class="btn btn-default" ng-click="pretendToAuthenticate(signupEmail)" ng-disabled="signupForm.$invalid">Signup <i ng-show="finished" class="fa fa-check"></i></button>
	    <button class="btn btn-default" ng-click="cancel()">Close</button>
	</form>
	<div ng-show="finished">
		<h2>Success!</h2>
		<p>Thank you for registering with Connect</p>
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</div>